$slug: 'fframe_';
$primary-color: rgb(47, 41, 37);
$bodyBg: #f1f2f5;

@forward "~element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #1F7F4C,
    )
  ),
);

.#{$slug} {
  &main-menu-items {
    display: block;
    position: relative;
    margin-bottom: 20px;
    background: white;
    margin-left: -20px;
    padding-left: 20px;
    overflow: hidden;

    .menu_logo_holder {
      max-height: 40px;
      margin-right: 10px;
      margin-left: 10px;
      display: inline-block;
      vertical-align: middle;
      padding-top: 10px;

      a {
        display: block;
        overflow: hidden;
        line-height: 0;

        img {
          padding: 2px 0px;
          height: 36px;
          outline: none;
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }

        span {
          position: absolute;
          top: 20px;
          color: black;
          padding-left: 5px;
          font-size: 10px;
        }
      }
    }

    ul.#{$slug}menu {
      display: inline-block;
      list-style: none;
      margin: 0 0 0 20px;
      padding: 0;
      vertical-align: top;
      padding-right: 20px;

      li {
        display: inline-block;
        padding: 0;
        margin: 0;

        a.router-link-exact-active, &.router-current-active_li a {
          border-bottom: 2px solid #9d95d8;
          color: black;
        }

        a:focus {
          box-shadow: none;
          outline: 0 solid transparent;
        }

        .#{$slug}menu_primary {
          padding: 20px 15px;
          display: block;
          font-size: 14px;
          line-height: 100%;
          text-decoration: none;
          color: #909399;

          span {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: -6px;
          }

          &:hover {
            color: black;
          }
        }

        .#{$slug}submenu_items {
          display: none;
        }
      }

      li.#{$slug}has_sub_items {
        position: relative;

        .#{$slug}submenu_items a {
          width: 100%;
          display: block;
          text-decoration: none;
          padding: 10px 15px;
        }

        &:hover {
          > .#{$slug}submenu_items {
            display: block;
            z-index: 9999999;
            overflow: hidden;
            top: 90%;
            left: 0;
            position: absolute;
            min-width: 10rem;
            padding: .5rem 0;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: #909399;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: .25rem;

            a {
              color: #909399;

              &:hover {
                background-color: #f8f9fa;
              }
            }
          }
        }
      }
    }

    .#{$slug}handheld {
      display: none;
    }

    @media all and (max-width: 1024px) {
      margin-right: 10px;
      ul.#{$slug}menu {
        display: none;

        li {
        }
      }
      ul.#{$slug}menu.#{$slug}menu_open {
        display: block;
        border-top: 3px solid #f1f1f1;

        li.#{$slug}menu_item {
          display: block;
          width: 100%;
        }

        .#{$slug}menu_primary span {
          float: right;
        }

        .#{$slug}submenu_items {
          position: relative !important;
          padding-left: 30px !important;
        }
      }
      .#{$slug}handheld {
        display: inline-block;
        float: right;
        margin: 15px 15px 0px 0px;

        span {
          font-size: 30px;
          width: 100%;
        }
      }
      ul.#{$slug}menu.frame_secondary_menu {
        float: none !important;
        border-top: 0 !important;
      }
    }
  }
}

.frame_secondary_menu.fframe_menu {
  float: right;
}

@import "~element-plus/theme-chalk/el-notification.css";
@import "~element-plus/theme-chalk/el-loading.css";
@import "~element-plus/theme-chalk/el-message-box.css";
@import "~element-plus/theme-chalk/el-slider.css";

.el-table .cell pre.sql_pre {
  margin: 0;
  padding: 0;
  text-overflow: unset;
  word-break: break-word;
  white-space: break-spaces;
  line-height: 130%;
  font-size: 90%;
  max-height: 100px;
  overflow: auto;
}

.log_filters {
  padding: 15px;
  background: white;
  margin-bottom: 15px;

  .log_filter {
    display: inline-block;
    margin-right: 20px;

    > label {
      font-weight: 500;
      margin-bottom: 10px;
      display: block;
    }
  }
}

.fframe_body {
  margin-right: 20px;
}

.box_body {
  padding: 15px;
}

.el-table .row_expensive {
  background: #ffeff0;
}

.text {
  &-primary {
    color: #20a0ff
  }

  &-success {
    color: #13ce66
  }

  &-info {
    color: #50bfff
  }

  &-warning {
    color: #f7ba2a
  }

  &-bg-warning {
    background-color: #fff6a6;
  }

  &-bg-highlight {
    background: #EEEEEE;
  }

  &-danger {
    color: #ff4949
  }

  &-align {
    &-right {
      text-align: right;
    }

    &-center {
      text-align: center;
    }
  }
}

.clickable {
  cursor: pointer;
}

.route_wrapper {
  margin-right: 20px;
}

.box_narrow {
  max-width: 1100px;
  margin: 0 auto;
}

.box_wrapper {
  box-sizing: border-box;
  display: block;
  width: 100%;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  .box_header_empty {
    border-bottom: 1px solid #e3e8ee;
    display: block;
    width: auto;
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 10px 0;
    color: #697386;

    h3 {
      display: inline-block;
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

    p {
      margin: 5px 0 0;
    }
  }

  .box_header {
    display: block;
    width: auto;
    border-bottom: 1px solid #e3e8ee;
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: 10px 15px;
    background-color: #f7fafc;
    font-weight: 700;
    color: #697386;

    .box_head {
      float: left;

      h3 {
        display: inline-block;
        margin: 8px 20px 8px 0;
        padding: 0;
        font-size: 20px;
      }
    }

    .box_actions {
      float: right;
    }
  }

  .box_body {
    background: #fff;
    display: block;
    overflow: hidden;
  }
}

// customize element ui css here
.el {
  &-select {
    width: 100%;

    .el-input__inner {
      cursor: pointer;
      box-shadow: none;
      border: 0;
    }

    input {
      background: transparent;
      box-shadow: none;
    }

    &-multiple {
      input {
        height: 40px !important;
      }
    }

    .el-input.is-focus {
      input {
        &:focus {
          outline: none !important;
          box-shadow: none !important;
          border-color: #409eff;
        }
      }
    }

    &:hover,
    &:focus {
      .el-input {
        input {
          box-shadow: none !important;
        }
      }
    }
  }
}

.el-popper.is-light.el-popover {
  z-index: 99999999999 !important;
}

.el-form-item.fls_switch .el-switch {
  margin-right: 15px;
}

.fls_login_settings {
  padding: 20px 20px 5px;
  background: #f5f7fa;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;

  &:hover {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  }

  h3 {
    margin: 0 0 15px;
  }

  p {
    margin: 5px 0 0;
  }
}

.el-form-item {
  .el-input__inner {
    min-height: auto;
    --el-input-inner-height: calc(var(--el-input-height, 32px) - 2px);
    width: 100%;
    flex-grow: 1;
    -webkit-appearance: none;
    color: var(--el-input-text-color, var(--el-text-color-regular));
    font-size: inherit;
    height: var(--el-input-inner-height);
    line-height: var(--el-input-inner-height);
    padding: 0;
    outline: 0;
    border: none;
    background: 0 0;
    box-sizing: border-box;

    &:focus {
      border-color: inherit;
      box-shadow: none;
      outline: inherit;
    }
  }
}

.el-notification__content {
  text-align: left !important;
}

.el-notification.right {
  top: auto !important;
  bottom: 10px;
}

.fls_errors {
  background: #fff06f;
  padding: 10px;

  ul {
    margin: 0;
    padding-left: 20px;
  }
}


.ff_app_body {
  margin-right: 20px;
}

.dashboard_box {
  margin-bottom: 30px;
}

ul.fls_listed_data {
  margin: 0;
  list-style: none;
  padding: 0;

  li {
    padding: 10px 15px;
    margin: 0;
    line-height: 150%;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ebeef5;

    &:hover {
      background-color: #f7fafc;
    }

    span.fls_value {
      text-align: right;
      float: right;
      text-transform: capitalize;
    }
  }
}

.el-form-item label.el-form-item__label, .el-form-item--label-top .el-form-item__label {
  font-weight: 500;
  color: black;
}

.fct_widget_bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;

  .fct_stat_item {
    min-height: 5rem;
    padding: 0 1rem;
    flex: 1;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;

    h3 {
      margin: 0;
    }

    &.fct_stat_filter {
      justify-content: center;
    }

    .fct_w_vals {
      display: flex;
      flex-direction: column;
    }
  }
}

.fct_widget_dark.fct_widget_bar {
  margin-bottom: 1rem;

  * {
    color: #dcdcdc;
  }

  .fct_stat_item {
    background: #1f1f25;
    border: none;
    border-right: 1px solid #000;
    box-sizing: border-box;
    color: #f1f2f3;
    cursor: pointer;

    &:hover {
      background: #34343b;
    }

    &:first-child {
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
    }

    &:last-child {
      border-bottom-right-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }

    .fct_w_num {
      color: white;
      margin-top: 5px;
      font-size: 130%;
    }
  }
}

.fct_quick_statbar_popup {
  > .el-radio {
    margin-bottom: 5px;
    width: 100%;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  p {
    margin: 0;
  }
}

.el-input__inner {
  border: 0 !important;
  min-height: inherit;
  padding: inherit;

  &:focus {
    box-shadow: none !important;
    outline: 0 !important;
  }
}

.fls_status_blocked td {
  background-color: #ffdfdc !important;
}

.fls_status_failed td {
  background-color: #ffffea;
}


.fls_code_instruction {
  display: block;
  overflow: hidden;

  h3 {
    font-weight: normal;
    font-size: 17px;
  }

  textarea {
    width: 100%;
    height: 70px;
  }
}

.fls_shortcode_section {
  margin-bottom: 30px;

  textarea {
    width: 100%;
    height: 40px;
    padding: 9px 15px;
    border-color: #e3e8ee;
    background-color: #f3f3f3;
  }

  p {
    font-size: 12px;
    line-height: 15px;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 15px;
  }
}

.fls_advanced_rules {
  position: relative;

  .fls_then_arrow {
    position: absolute;
    left: -30px;
    background: #9c9d9e;
    color: white;
    width: 85px;
    text-align: center;
    transform: rotate(270deg);
    top: 70px;
    display: block;
    font-size: 10px;
    height: 15px;
    line-height: 15px;

    &:before {
      content: "⮀";
      width: 9px;
      height: 8px;
      position: absolute;
      left: 6px;
      top: 15px;
      transform: rotate(90deg);
      color: #9c9d9e;
      font-weight: bold;
      font-size: 21px;
    }

    &:after {
      content: "⮀";
      width: 8px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 2px;
      transform: rotate(180deg);
      color: #f7f7fc;
      font-weight: bold;
      font-size: 15px;
    }
  }

  .fls_rule_number {
    position: absolute;
    right: 3px;
    top: 0px;
  }

  .fls_rule_group {
    position: relative;
    padding: 25px 20px 0px 40px;
    background: #f7f7fc;
    margin: 0 0 30px;
  }

}

.fls_rule_items {
  display: flex;
  align-content: center;
  align-items: center;

  .fls_rule_item {
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .fls_values {
    width: 100%;
  }
}

.el-form-item.fls_checkbox {
  .el-form-item__content {
    display: flex;
    flex-wrap: nowrap;
    line-height: 140%;
    align-items: flex-start;

    > span {
      margin-top: 5px;
    }
  }
}


.fls_email_name {
  padding: 0;
  margin: 0;

  p {
    margin: 0;
    padding: 0;

    &.fls_email_title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
}

.fls_register_box {
  padding: 20px 30px 30px;
  max-width: 800px;
  margin: 50px auto;
  background: white;
  text-align: center;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0, 0, 0, 0.05);
  border-radius: 8px;

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }

  form {
    text-align: left;
    margin-top: 35px;
  }
}

.fls_file_lists {
  margin: -15px;

  .fls_file_item {
    padding: 12px 20px;
    border-bottom: 1px solid #e3e8ee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;

    .fls_file_title {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }

    &.fls_file_ignored {
      opacity: 0.4;
    }

    .fls_file_icon {
      .el-tag__content {
        display: flex;
        align-items: center;
        column-gap: 5px;
        .el-icon {
          font-size: 150%;
        }
      }
      &.fls_file_icon_type_new {
        // it's a danger
        background: #ffdfdc;
        color: #ff4949;
        border-color: #ff4949;
      }

      &.fls_file_icon_type_modified {
        // it's a warning but make it bit contrast
        background: #ffffea;
        color: #f7ba2a;
        border-color: #f7ba2a;
      }
    }
  }
}

.fls_diff_view { word-wrap: break-word; }

.fls_diff_view {
    background: #f7f7fc;
    padding: 10px 20px;
    margin: 0;
    overflow: auto;
}
